services:
  # consul
  se-consul:
    container_name: se-consul
    image: consul
    ports:
      - "8500:8500"
  postgres-db:
    container_name: postgres-db
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: se_commerce_db
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: password