spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: dev
    password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

# Local Sql debug
logging:
  level:
    org:
      hibernate:
        SQL: debug
